body {
    background-color: #F1F3F6;
}

.navbar-default {
    background-color: #FFF;
}


/* List */

.panel-title {
    margin-top: 6px;
    margin-bottom: 0;
    margin-left: 6px;
    font-size: 20px;
}


/* Detail */

.thumbnail {
    margin-bottom: 5px;
}
