{% extends 'web/base.html' %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block content %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title">Formularios</h3>
          </div>
          <div class="col-md-6">
            <a href="{% url 'form.create' %}" class="btn btn-primary pull-right">Nuevo formulario</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for form in forms %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="lead">{{ form.name }}
              {% if form.status == "editable" %}
                <small class="label label-success pull-right">
              {% elif form.status == "active" %}
                <small class="label label-primary float-right">
              {% elif form.status == "closed" %}
                <small class="label label-danger float-right">
              {% endif %}
                {{ form.get_status_display }}</small>
              </span>
            </div>
            <div class="panel-body">
              <h4><a href="{% url 'response.list' form.pk %}">Respuestas</a></h4>
              <span class="text-muted pull-left">
                Última modificación: {{ form.modified | date:"d/M/Y H:i"}}
              </span><br><br>
              <a href="{% url 'form.detail' form.pk %}">Ver</a>
              <a href="{% url 'form.edit' form.pk %}">Editar</a>
              <a href="{% url 'form.delete' form.pk %}">Eliminar</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block css %}
  <link href="{% static 'web/css/app.css' %}" rel="stylesheet">
{% endblock %}