{% extends 'web/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-12">
            <h3 class="panel-title">Detalle del registro</h3>
          </div>
        </div>
      </div>
      <div class="panel-body details">
        <div class="row">
          <div class="col-md-3 text-right text-muted">
            <span>Fecha de registro:</span>
          </div>
          <div class="col-md-9">
            {{ response.created | date:"d/M/Y H:i" }}
          </div>
        </div>
        {% for answer in response.answers %}
          <div class="row">
            <div class="col-md-3 text-right text-muted">
              {{ answer.code }}. {{ answer.question }}
            </div>
            <div class="col-md-9">
              {% if answer.responsefile_set.all %}
                <div class="row">
                  {% for file in answer.responsefile_set.all %}
                    {% if answer.answer == "image" %}
                      <div class="col-md-4">
                        <a class="thumbnail" href="{{ file.file.url }}" target="_blank">
                          <img src="{{ file.file.url }}" class="img-responsive">
                        </a>
                      </div>
                    {% else %}
                      <div class="col-md-12">
                        <a href="{{ file.file.url }}" target="_blank">
                          <span class="glyphicon glyphicon-file">{{ file.file.name }}</span>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% elif answer.label %}
                <span>{{ answer.label }}</span>
              {%  else %}
                <span>{{ answer.answer }}</span>
              {%  endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if related %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-12">
              <h3 class="panel-title">Registros relacionados: {{ related.1.form.name }}</h3>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Fecha</th>
                  {% for answer in related.1.answers %}
                    <th>{{ answer.question }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for rel in related %}
                  <tr>
                    <td>
                      <a href="{% url 'response.detail' rel.form.pk rel.pk %}">
                        {{ rel.created | date:"d/M/Y H:i"}}
                      </a>
                    </td>
                    {% for answer in rel.answers %}
                      <td>
                        {% if answer.label %}
                          {{ answer.label }}
                        {%  else %}
                          {{ answer.answer }}
                        {%  endif %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block css %}
  <link href="{% static 'web/css/app.css' %}" rel="stylesheet">
{% endblock %}
